# Node modules
node_modules/

# Puppeteer output
puppeteer/

# Jest screenshots
screenshots/

# Jest output
coverage/
__tests__/reports

# Logs
logs/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
